/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,remhh00;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-primary: #0a58ca;
  --color-primary-light: #649df29a;
  --color-secondary: #11101d;
  --color-secondary-variant: #0000003f;
  --color-white: #ffffff;
  --color-white-variant: #bbbbbb;
  --color-black: #000000;
  --color-success: #00be00;
  --color-warning: #ffff1c;
  --color-danger: #ff1f1f;

  --color-bg-gradiant: linear-gradient(
    90deg,
    rgba(17, 16, 29, 0.1) 0%,
    rgba(10, 88, 202, 0.1) 24%
  );

  --container-width-lg: 85%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all ease 400ms;
}

/* general styles  */

body {
  font-family: "Rubik", sans-serif;
  color: var(--color-secondary);
  overflow-x: hidden;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 5rem 0;
}

#section {
  opacity: 0;
  transform: translateY(6rem);
  transition: opacity 0.8s, transform 0.8s ease-in-out;
}

#section.reveal {
  opacity: 1;
  transform: translateY(0);
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-family: "Chakra Petch", sans-serif;
}

h1 {
  font-size: 2rem;
  font-family: "Chakra Petch", sans-serif;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: var(--color-white);
  transition: var(--transition);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Basic styling for the anchor tag */
a.rounded-overlay {
  position: relative;
  display: inline-block;
  padding: 15px 30px; /* Adjust padding as needed */
  color: var(--color-white); /* Adjust text color */
  background: var(--color-danger);
  border-radius: 2rem;
  z-index: 2;
}

/* Styling for the overlay */
a.rounded-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 55%;
  height: 100%;
  background-color: var(
    --color-primary
  ); /* Adjust overlay color and transparency */
  border-radius: 2rem;
  transition: width 0.3s ease-in-out;
  z-index: -1;
}

/* Slide in effect on hover */
a.rounded-overlay:hover::before {
  width: 100%;
}

a.cta_secondary {
  background: var(--color-secondary-variant);
  margin: 1rem auto;
}

a.cta_secondary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--color-secondary);
  border-radius: 2rem;
  transition: width 0.3s ease-in-out;
  z-index: -1;
}

a.learn_more {
  background: #f1f1f1;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  width: 250px;
  border-radius: 5rem;
  justify-content: center;
  color: var(--color-secondary);
}

a.learn_more:hover {
  color: var(--color-white-variant);
}

a.learn_more::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26%;
  height: 100%;
  background-color: var(--color-secondary);
  border-radius: 5rem;
  transition: width 0.3s ease-in-out;
  z-index: -1;
}

a.learn_more i {
  font-size: 30px;
  margin-left: 1rem;
  transform: rotate(180deg);
  transition: var(--transition);
  color: var(--color-secondary);
}

a.learn_more:hover i {
  margin-left: 4rem;
  color: var(--color-white-variant);
}
/* end general styles  */

/* nav section  */

.floating-nav {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  position: fixed;
  background: var(--color-white);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0px 01px 5px var(--color-secondary-variant);
  z-index: 1000;
}

.logo {
  width: 80px;
  box-shadow: 1px 1px 5px var(--color-secondary-variant);
  border-radius: 50%;
  display: flex;
}

.logo img {
  border-radius: 10rem;
}

.floating-nav .nav_links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.floating-nav .nav_links ul {
  display: flex;
  align-items: center;
}

.floating-nav .nav_links ul li a {
  padding: 01rem 0.5rem;
  margin: 0 0.5rem;
  color: var(--color-dark);
}

.menuToggle {
  display: none;
}

a.cta1 {
  display: none;
}

@media only screen and (max-width: 767px) {
  .floating-nav {
    padding: 0.5rem;
  }

  .container {
    width: var(--container-width-small);
  }
}

@media only screen and (max-width: 1080px) {
  .container {
    width: var(--container-width-medium);
  }

  a.cta1 {
    display: block;
  }

  a.cta2 {
    display: none;
  }

  .nav_links {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 26vh;

    padding: 10px;
    transform: translateX(-100%);
    transition: transform 600ms ease;
    z-index: 1000;
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .floating-nav .nav_links ul {
    flex-direction: column;
    height: 100%;
  }

  .floating-nav.active .nav_links {
    display: initial;
    transition: transform 600ms ease, opacity 600ms ease;
    /* Include transform in the transition */
    text-align: center;
    background: transparent;
    height: 26h;
    transform: translateY(90px);
    box-shadow: 1px 01px 5px var(--color-secondary-variant);
  }

  .floating-nav.active .nav_links ul {
    flex-direction: column;
    height: 100%;
  }

  .floating-nav .nav_links ul li {
    padding: 01rem 0.5rem;
    margin: 0 0.5rem;
    transition: var(--transition);
    background: var(--color-primary);
    width: 100%;
    box-shadow: 1px 01px 5px var(--color-secondary-variant);
  }

  .floating-nav .nav_links ul li:hover {
    background: var(--color-black);
  }

  .floating-nav .nav_links ul li a {
    background: transparent;
    width: 100%;
    color: var(--color-white);
  }

  .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menuToggle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--color-black);
    box-shadow: 0px 12px 1px;
    transition: 300ms;
    transform: translateY(-12px);
  }

  .menuToggle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--color-black);
    transition: 300ms;
    transform: translateY(12px);
  }

  .floating-nav.active .menuToggle::before {
    transform: rotate(45deg);
    box-shadow: 0px 0px #fff;
  }

  .floating-nav.active .menuToggle::after {
    transform: rotate(-45deg);
  }
}
/* end nav section  */

/* hero section  */

.hero {
  height: 100vh;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  box-shadow: 1px 1px 10px var(--color-secondary-variant);
}

.hero_container {
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  /* Text color */
}

.hero_content {
  max-width: 600px;
  margin: 0 auto;
}

.hero_content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  padding-right: 80px;
  color: var(--color-secondary);
}

.hero_title h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--color-secondary);
}

.hero_title h1 > span {
  color: var(--color-primary);
}

.hero_ctas {
  display: flex;
  align-items: center;
}

.hero_ctas .cta {
  margin-right: 1em;
}

.hero_img {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms, transform 1s;
}

.hero_img.slide-in {
  opacity: 1;
  transform: translateX(-200px);
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 1080px) {
  .hero {
    height: 100%;
    text-align: center;
    padding-top: 7rem auto;
  }

  .hero_container {
    height: 100%;
    flex-direction: column-reverse;
    text-align: center;
    padding-top: 7rem auto;
  }

  .hero_content {
    height: 100%;
    width: 100%;
    margin-top: 20px;
  }

  .hero_content p {
    padding: 0;
  }

  .hero_container {
    flex-direction: column-reverse;
    padding: 3rem o;
  }
  .hero_container .hero_title h1 {
    flex-wrap: wrap;
  }
  .hero_ctas {
    justify-content: center;
  }

  .hero_img.slide-in {
    opacity: 1;
    transform: translateX(0);
  }

  .hero_img img {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .hero {
    height: 100%;
  }
  .hero_container {
    padding-top: 2rem;
    height: 100%;
    flex-direction: column-reverse;
    text-align: center;
    padding: 5rem auto;
  }

  .hero_title h1 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }
  .hero_img.slide-in {
    opacity: 1;
    transform: translateX(0);
  }
}
/* end hero section  */

/* categories section  */

.categories {
  box-shadow: 1px 1px 1px var(--color-secondary-variant);
}

.categories h1 {
  line-height: 1;
  margin-bottom: 3rem;
}

.categories_container {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
}
.categories_container .cta_guide {
  background-image: url(https://tinypic.host/images/2023/12/16/group-1.png);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;

  margin: 0 auto;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 100;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.categories_container .cta_guide {
  position: relative;
  overflow: hidden;
}

.categories_container .cta_guide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  transition: var(--transition);
  transform: translateY(-100%);
}

.categories_container .cta_guide:hover::before {
  transform: translateY(0);
}

.categories_container .cta_guide:hover {
  background-size: 100%; /* Increase background image size on hover */
}

.categories_container .cta_guide a {
  z-index: 2;
  color: var(--color-white);
  transform: translateY(700%);
  transition: var(--transition);
  font-size: larger;
}

.categories_container .cta_guide:hover a {
  transform: translateY(0);
}

.categories_container .cta_guide h5 {
  font-size: 2rem;
}

.categories_container .cta_guide p {
  color: var(--color-white);
}

.categories_left {
  padding: 01rem 0.5rem;
}

.categories_left p {
  margin: 1rem 0 3rem;
}

.categories_right {
  gap: 1rem;
}

.categories .categories_container .categories_right .category a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  transition: var(--transition);
  border: 1px solid transparent;
  background: var(--color-secondary);
  position: relative;
  color: var(--color-secondary);
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.2rem;
  color: var(--color-white);
}

.categories .categories_container .categories_right .category img {
  width: 60px;

  margin-bottom: 0.5rem;
  border: none;
  padding: 1rem;
}

.category p {
  display: none;
}

.category i {
  font-size: 1.5rem;
}

.categories .categories_container .categories_right .category:hover {
  animation: bounce 1000ms 1;
  cursor: pointer;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px); /* Adjust the bounce height as needed */
  }
  60% {
    transform: translateY(-5px);
  }
}

.categories .categories_container .categories_right .category_title {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 0.5rem;
  padding: 0.5rem;
}

.category_title h5 {
  font-size: 1.2rem;
  font-weight: 100;
}

.category p {
  padding: 0.5rem;
  font-size: 18px;
  font-weight: 300;
}

.category_title i {
  font-size: 1.5rem;
}

@media only screen and (max-width: 1080px) {
  .categories_container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .categories_container .cta_guide {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 767px) {
  .categories_right {
    display: flex;
    flex-direction: column;
  }

  .categories .categories_container .categories_right .category a {
    margin: 0;
  }

  .categories .categories_container .categories_right .category img {
    width: 100%;
    margin-bottom: 0.5rem;
    border: none;
    padding: 1rem;
  }
}

/* end categories section  */

/* Trending courses section  */
.courses {
  background: var(--color-bg-gradiant);
  color: var(--color-secondary);
  box-shadow: 1px 1px 10px var(--color-secondary-variant);
}

.courses .courses_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.courses .courses_container .course {
  color: var(--color-secondary);
  background: var(--color-white);
  box-shadow: 1px 1px 10px rgba(17, 16, 29, 0.2);
  padding: 0.5rem;
  transition: var(--transition);
  border-radius: 1rem;
}

.courses .courses_container .course:hover {
  box-shadow: 1px 1px 10px var(--color-secondary-variant);
}

.courses .courses_container .course img {
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.courses .courses_container .course h4 {
  margin-bottom: 1rem;
}

.courses .courses_container .course a {
  margin-top: 3rem;
  margin-left: 2rem;
}

@media only screen and (max-width: 1080px) {
  .courses .courses_container {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .courses .courses_container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* end trending courses section*/

/* testimonials section  */

section.testimonials {
  box-shadow: 1px 1px 5px var(--color-secondary-variant);
}
figure.snip1157 {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}
figure.snip1157 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.snip1157 img {
  max-width: 100%;
  vertical-align: middle;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 40px 0 0 10px;
}
figure.snip1157 blockquote {
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #f0f0f0;
  padding: 25px 50px 30px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}
figure.snip1157 blockquote:before,
figure.snip1157 blockquote:after {
  font-family: "FontAwesome";
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1157 blockquote:before {
  top: 25px;
  left: 20px;
}
figure.snip1157 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}
figure.snip1157 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #f0f0f0;
  margin: 0;
  position: absolute;
}
figure.snip1157 .author {
  position: absolute;
  bottom: 45px;
  padding: 0 10px 0 120px;
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
figure.snip1157 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.snip1157 .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}

.testimonial_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
}
/* end testimonial section  */

/* sell_point section  */
.counter_container {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  background-image: url();
}

.counter_container article {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 242, 246);
  margin: 1rem;
  gap: 1rem;
  position: relative;
  border-radius: 0.5rem;
}

.counter_container article > img{
  width: 70px;
  position: absolute;
  top: 40px;
  padding: 5px;
  background: var(--color-white);
  border-radius: 50%;
}

.counter_container article::before{
  content: '';
  width: 200px;
  height: 200px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom: 10px solid var(--color-secondary-variant);
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.counter_container article::after {
  content: "";
  width: 100%;
  height: 10px;
  background-color: var(--color-primary-light);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  position:absolute;
  bottom: 0;
}

.counter_container article > h1 {
  font-size: 4rem;
}

.counter_container article > p {
  font-size: 2rem;
  color: var(--color-secondary-variant);
}

.sell_points_faq {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 85%;
  margin: 0 auto;
}

.sell_points_faq h2 {
  margin-top: 4rem;
}
.sell_points .sell_points_container {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.sell_points .sell_points_container .sell_point {
  box-shadow: 1px 1px 10px var(--color-secondary-variant);
  background: var(--color-white);
  border: 5px solid transparent;
  padding: 1rem;
  font-weight: 300;
  transition: var(--transition);
  border-radius: 1rem;
}

.sell_points .sell_points_container .sell_point:hover {
  box-shadow: 1px 1px 10px transparent;
  background-color: var(--color-secondary);
  color: var(--color-white);
  scale: 1.05;
}

.sell_points .sell_points_container .sell_point h5 {
  font-size: 1.2rem;
}

.accordion-container {
  width: 100%;
}

.accordion-item {
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px var(--color-secondary-variant); /* Softer shadow */
}

.accordion-header {
  background-color: var(--color-white); /* Soft purple */
  color: var(--color-secondary); /* White text */
  padding: 15px;
  font-size: 15px;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 0 0;
  transition: background-color 0.3s ease;
}

.accordion-header:hover {
  background-color: var(--color-secondary); /* Darker shade of purple */
  color: var(--color-white);
}

.accordion-content {
  overflow: hidden;
  padding: 0 15px;
  max-height: 0;
  transition: max-height 0.3s ease;
}

.accordion-content p {
  margin: 15px 0;
  line-height: 1.5;
}

.icon {
  transition: transform 0.3s ease;
}

.accordion-container .active {
  background-color: var(--color-secondary);
  color: var(--color-white);
}
.active .icon {
  transform: rotate(45deg);
}

@media only screen and (max-width: 1080px) {
  .courses .courses_container {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }

  .sell_points_faq {
    display: block;
    padding: 0.5rem;
  }
  .sell_points .sell_points_container .sell_point {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .courses .courses_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .sell_points_faq {
    width: 98%;
  }

  .counter_container {
    flex-direction: column;
  }
}
/* end sell_point section  */

/* Newsletter section */
.newsletter {
  position: relative;
  background-image: url(https://img.freepik.com/free-vector/abstract-blue-red-paper-cut-background-with-simple-shapes_8829-2520.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1702684800&semt=ais);
  background-size: cover;
  background-position: center;
  padding: 20px;
  text-align: center;
  color: var(--color-white);
  overflow: hidden; /* Ensure child elements don't overflow the container */
}

/* Dark overlay for the background image */
.newsletter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Adjust the alpha value for darkness */
  z-index: -1;
}

/* Newsletter form */
.newsletter form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  background: var(--color-secondary-variant);
  border-radius: 10px;
}

/* Email input */
.newsletter form input[type="email"] {
  width: 100%;
  height: 70px;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 20px;
}

/* Submit button */
.newsletter form input[type="submit"] {
  height: 70px;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--color-danger);
  color: var(--color-white);
  cursor: pointer;
  border: none;
  font-size: 20px;
  transition: var(--transition);
}

/* Submit button hover effect */
.newsletter form input[type="submit"]:hover {
  background-color: var(--color-primary);
}

/* Responsive layout for small screens */
@media only screen and (max-width: 767px) {
  .newsletter form {
    flex-direction: column;
  }
}

/* social icons  */
.social_icons {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.social_icons a {
  display: flex;
  align-items: center;
  transition: var(--transition);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  position: relative;
  margin: 1rem;
}

#icon1 {
  background-image: url(https://tinypic.host/images/2023/12/16/linkedin.png);
}

#icon2 {
  background-image: url(https://tinypic.host/images/2023/12/16/twitter.png);
  background-color: var(--color-white);
  border-radius: 0.5rem;
}

#icon3 {
  background-image: url(https://tinypic.host/images/2023/11/20/facebook.png);
}

#icon5 {
  background-image: url(https://tinypic.host/images/2023/11/22/telegram.png);
}

.social_icons a:hover {
  scale: 1.1;
}
/* social icons  */

/* footer section */
footer {
  background: var(--color-secondary);
  color: var(--color-white);
}

footer hr {
  background: var(--color-white-variant);
  margin-top: 2rem;
  height: 2px;
}

footer .wrapper {
  width: 70%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer_logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .footer_details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

footer .footer_contacts .contact {
  display: flex;
  align-items: center;
}

.footer_contacts .contact i {
  font-size: 40px;
  margin-right: 1rem;
}

.footer_contacts .contact i.bxs-phone-call {
  color: var(--color-success);
}

.footer_contacts .contact i.bxl-gmail {
  color: var(--color-danger);
}

.footer_contacts .contact .contact_detail a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.footer_links li {
  margin: 0.8rem;
}

.footer_links a {
  color: var(--color-white-variant);
}

.footer_links a:hover {
  text-decoration: underline;
}

.copyright {
  margin-top: 3rem;
  align-items: center;
}

.copyright .footer_links ul {
  display: flex;
}

@media only screen and (max-width: 1080px) {
  footer .wrapper {
    width: 90%;
  }

  footer .footer_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 767px) {
  footer .wrapper {
    width: 95%;
  }

  footer .footer_details {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* End footer section */
