{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
<div class="project-container">
  <div class="projects">
    <h3 class="section-title">Projects</h3>
    <h4 class="subsection-title">Submit Project:</h4>
    <form id="project-form" method="post" action="{% url 'academy:projects' %}" class="project-form">
      {% csrf_token %}
      <label for="project_id" class="label">Select Project:</label>
      <select name="project_id" required class="select">
        <option value="" disabled selected>Select a project</option>
        {% for project in projects %}
          <option value="{{ project.id }}" {% if project.id in submitted_project_ids %}disabled{% endif %}>
            {{ project.project_title }} {% if project.id in submitted_project_ids %}(Submitted){% endif %}
          </option>
        {% endfor %}
      </select>
      <br>
      <label for="project_link" class="label">Live Project Link:</label>
      <input type="url" name="project_link" required class="input">
      <button type="submit" class="submit-button">Submit</button>
    </form>
    <div id="project-feedback" class="feedback"></div>
  </div>
  
  <h3 class="section-title">Submitted Projects:</h3>
  <ul class="submitted-projects">
    {% for project_submission in project_submissions %}
      <li class="project-item">
        <strong class="project-title">{{ project_submission.submitted_project.project_title }}</strong>
        - <a href="{{ project_submission.project_link }}" target="_blank" class="project-link">View Project</a>
      </li>
    {% endfor %}
  </ul>
</div>

<style>
  /* Container Styles */
  .project-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
  }

  /* Section Title Styles */
  .section-title {
    font-size: 24px;
    margin-top: 10px;
  }

  /* Subsection Title Styles */
  .subsection-title {
    font-size: 18px;
    margin-top: 10px;
  }

  /* Form Styles */
  .project-form {
    margin-top: 20px;
  }

  .label {
    font-size: 16px;
  }

  .select,
  .input,
  .submit-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }

  .select {
    height: 40px;
  }

  .submit-button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

  .submit-button:hover {
    background-color: #0056b3;
  }

  /* Submitted Projects List Styles */
  .submitted-projects {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }

  .project-item {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .project-title {
    font-weight: bold;
  }

  .project-link {
    color: #007bff;
    text-decoration: none;
  }

  .project-link:hover {
    text-decoration: underline;
  }

  /* Feedback Styles */
  .feedback {
    margin-top: 10px;
    color: green;
    font-weight: bold;
  }
</style>
{% endblock %}
