{% extends 'base.html' %}

{% block style %}
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      color: #333;
      margin: 0;
      padding: 0;
    }

    h1 {
      color: #11101d; /* Primary Color */
      margin-bottom: 20px;
    }

    h2 {
      color: #1d1b31; /* Secondary Color */
      margin-top: 20px;
      margin-bottom: 15px;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
    }

    li {
      margin-bottom: 10px;
    }

    .messages {
      margin-top: 15px;
    }

    .messages li {
      color: red;
      list-style-type: disc;
    }

    .score {
      display: block;
      margin-top: 20px;
      font-weight: bold;
    }
  </style>
{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ assessment.title }}</h1>
  <h2>Questions:</h2>
  <ul>
    {% for question in questions %}
      <li>{{ question.text }}</li>
      <ul>
        {% for answer in question.answer_set.all %}
          <li>{{ answer.text }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  </ul>
  {% if score %}
    <p class="score">Your score: {{ score.score }}%</p>
  {% endif %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock %}
