{% extends "dashboard.html" %}

{% load static %}


{% block content %}
    <style>
        body {
            padding: 2rem 1rem;
        }
        .editor_input, .editor_output {
            width: 520px;
            height: 230%;
            border: 2px solid black;
        }
        .editor_output{
            width: 1550px;
        }
        .code_editor_segments{
            display: flex;
        }
        .code_editor_wrapper {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .run_btn{
            border:none;
            border-radius:0.5rem;
            outline:none;
            padding:1rem;
            font-size:20px;
            font-weight:900;
            background-color:brown;
        }
        .code{
            margin: 5px;
        }
    </style>
</head>
<body>
   
    <section class="code_editor container">
        <div class="code_editor_container">
            <div class="code_editor_wrapper">
                <div class="code_editor_segments">

                    <div class="code">
                        <h4>HTML</h4>
                        <div class="editorContainer editor_input" id="htmlEditor"></div>
                    </div>

                    <div class="code">
                        <h4>CSS</h4>
                        <div class="editorContainer editor_input" id="cssEditor"></div>
                    </div>

                    <div class="code">
                        <h4>JavaScript</h4>
                        <div class="editorContainer editor_input" id="jsEditor"></div>
                    </div>
                    
                </div>
                <button class="run_btn" id="runButton"><i class='bx bx-play'></i>Run</button>
                <div class="code_editor_segments">
                    <div class="output">
                        <h4>OutPut</h4>
                        <pre class="editor_output" id="output"></pre>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

{% endblock content %}