{% extends 'base.html' %}

{% block content %}
  <h1>{{ course.title }}</h1>
  <p>{{ course.description }}</p>
  <p>Welcome, {{ user.username }}!</p>
  
  {% if request.user.is_authenticated %}
    <form method="post" action="{% url 'academy:enroll_course' course.slug %}">
      {% csrf_token %}
      {% if is_enrolled %}
        <p>Enrolled</p>
      {% else %}
        <button type="submit">Enroll in Course</button>
      {% endif %}
    </form>
  {% else %}
    <p>Please <a href="{% url 'login' %}">login</a> to enroll.</p>
  {% endif %}
{% endblock %}
