{% extends '../base.html' %} 
{% load static %} 


{% block style %}
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 20px;
  }

  h2 {
    text-align: center;
    color: #333;
  }

  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  input[type="submit"] {
    background-color: #11101d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #11101d;
  }
</style>
{% endblock style %} 
{% block signup %}
{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success' %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" arial-label="close"></button>
        {{ message }} <span aria-hidden="true">&times;</span>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
<h2>Signup</h2>
<form method="post">
  {% csrf_token %}
  <label for="username">Username:</label>
  {{ form.username }}
  {{ form.username.errors }}

  <label for="email">Email:</label>
  {{ form.email }}
  {{ form.email.errors }}

  <label for="password">Password:</label>
  {{ form.password1 }}
  {{ form.password1.errors }}
  

  <label for="confirm_password">Confirm Password:</label>
  {{ form.password2 }}
  {{ form.password2.errors }}

  <input type="submit" value="Sign Up" />
</form>

{% endblock signup %}
{{ form.username.label_tag }}
    
    
    {{ form.email.label_tag }}
    
    
    {{ form.password1.label_tag }}
    
    
    {{ form.password2.label_tag }}
    