{% extends 'base.html' %}

{% block content %}
  <h1>Welcome, {{ user.username }}!!</h1>
  {% if user.is_authenticated %}
    <h2>Enrolled Courses</h2>
    {% if enrolled_courses %}
      <ul>
        {% for course in enrolled_courses %}
        <div class="user_courses">
          <li><a href="{% url 'academy:course_detail' course.slug %}">{{ course.course_title }}</a></li>
          <li>
            <ul>
              {% for assessment_title, score in assessment_scores.items %}
                {% if assessment_title == course.course_title %}
                  <li>
                    {{ assessment_title }}
                    {% if score %}
                      <p>Your score: {{ score }}%</p>
                    {% else %}
                      <p>No score available</p>
                    {% endif %}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        </div>
        {% endfor %}
      </ul>
    {% else %}
      <p>You haven't enrolled in any courses yet.</p>
    {% endif %}
  {% else %}
    <p>{{ message }}</p>
    <p><a href="{% url 'academy:signin' %}">Log in</a></p>
  {% endif %}

  <div class="projects">
    <h3>Projects</h3>
    <h4>Submit Project:</h4>
    <form id="project-form" method="post" action="{% url 'academy:user_dashboard' %}">
      {% csrf_token %}
      <label for="live_link">Live Project Link:</label>
      <input type="url" name="live_link" required>
      <input type="hidden" name="course_slug" value="{{ course.slug }}">
      <button type="submit">Submit</button>
    </form>
    <div id="project-feedback"></div>
  </div>
  
  <script>
  document.addEventListener("DOMContentLoaded", function () {
    const projectForm = document.getElementById("project-form");
    const projectFeedback = document.getElementById("project-feedback");
  
    projectForm.addEventListener("submit", async (event) => {
      event.preventDefault();
      
      const formData = new FormData(projectForm);
      try {
        const response = await fetch("{% url 'academy:user_dashboard' %}", {
          method: "POST",
          body: formData,
        });
  
        if (response.ok) {
          const data = await response.json();
          projectFeedback.innerHTML = data.project_html;
        } else {
          projectFeedback.innerHTML = "Project submission failed.";
        }
      } catch (error) {
        projectFeedback.innerHTML = "An error occurred while submitting the project.";
      }
    });
  });
  </script>
{% endblock %}
